.venv/
venv/
__pycache__/
*.pyc
hf_datasets/
hf_datasets
datasets/
data/
logs/
*.wav
*.mp3
torch/
torch
*.log
*.arrow
*.bin
checkpoints/bge_finetuned/model.safetensors
.env
.env

whatsapp_bot.log
.env
.env.backup
.env
.env.save
checkpoints/
train_env/
kaggle_outputs/
pose_landmarker.task
dataset_check/
__pycache__/
